*, *::before, *::after {
  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

/* Main Page - General */
.page-container {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}

.portfolio-background {
  height: 100%;
  width: 100%;

  filter: blur(8px);

  position: fixed;

  z-index: -100;
}

.navbar-container {
  grid-row: 1 / 2;
}

.navbar-container h1:first-child {
  position: absolute;
  top: 5px;
  left: 10px;
  color: white;
}

.navbar-container ul {
  margin-left: 20px;
  list-style: none;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.navbar-container li {
  padding: 5px;
  align-self: center;
}

.navbar-container li:hover {
  max-width: max-content;
  background-color: grey;
  border-bottom: solid 2px white;
}

/* Content Container Styles */
.content-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-content: center;
}

.content-container div.content {
  display: none;

  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.content-container div[data-active="true"] {
  display: inline;
}